* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* NAVBAR STARTS */

nav {
  padding: 30px 30px;
  margin-bottom: 70px;
  font-size: 1em;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 1em;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: black;
}
.nav-links ul li h1 {
  font-size: 35px;
  color: teal;
  padding-right: 40px;
}

.nav-links ul li .search-bar h1 {
  background: white;
  font-size: 20px;
  color: gray;
  display: inline-block;
}

.search-bar {
  transform: translateX(4em);
}
.search-bar input {
  width: 400px;
  height: 30px;
  display: inline-block;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
.search-bar input:focus {
  outline: none;
}
.search-bar .search-icon {
  display: inline-block;
}

.register ul li {
  display: inline-block;

  padding: 0 15px;
}

.register ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}

.sign-up {
  text-decoration: none;
  color: black;
  border: 2.5px solid #fff;
  border-radius: 8px;
  padding: 8px 22px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.sign-up {
  background: #95d5b2;
  transition: 1s;
}

/* media queryfor navbar */
@media (max-width: 1150px) {
  .nav-links ul li a {
    display: block;
  }
  .register {
    display: none;
  }
  .search-bar input {
    width: 300px;
    height: 30px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
  }
  .search-bar {
    align-items: center;
  }
}
/* media queryfor navbar */

/* NAVBAR END */

/* RESULTS*/

.famous-fort-container {
  margin-bottom: 50px;
}
.famous-fort-container h1 {
  text-align: center;
  margin-bottom: 50px;
}

.three-famous-fort {
  display: inline-block;
  justify-content: space-evenly;
  padding: 20px 20px;
  align-items: center;
}

.information {
  display: inline-block;
  transform: translateY(-60%);
}

.profile img {
  width: 400px;
  height: 230px;
  padding: 20px 20px;
  border-radius: 30px;
}

.profile h2 {
  text-align: center;

  padding: 20px;
}

.profile h2 a {
  text-decoration: none;
  color: #424242;
}
.profile h3 {
  padding: 5px;
  font-size: 16px;
}

.profile h4 {
  padding: 5px;
  font-size: 16px;
}

.rating {
  padding: 5px;
}
.rating .fa {
  color: #ff523b;
}

/* media query for results */

@media (max-width: 1122px) {
  .three-famous-fort {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
  }

  .information {
    text-align: center;
    align-items: center;
    transform: translateY(+0%);
  }
  .profile img {
    width: 300px;
    height: 200px;
    padding: 20px 20px;
    border-radius: 30px;
  }
}
/* media query for results */

/* RESULTS*/

/* footer  */

footer {
  width: 100%;
  background-color: #38a3a5;
}
.footer {
  padding: 50px 70px;
  display: flex;
  justify-content: space-evenly;
}
.footer-container {
  padding: 10px;
}
.footer-container ul li {
  padding: 5px;
  list-style: none;
  font-size: 1em;
}

.footer-container ul li a {
  text-decoration: none;
  color: black;
}

/* .footer-container-logo ul img {
} */

.footer-container-logo ul li {
  padding: 20px;
  text-align: center;
  list-style: none;
  font-size: 1em;
}

.footer-container-logo ul li a {
  text-decoration: none;
  color: black;
}
/* footer  */

/* footor media query */
@media (max-width: 1150px) {
  .footer {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer-container ul li {
    text-align: center;
    padding: 5px;
    list-style: none;
    font-size: 0.8em;
  }
}

/* footor media query */
